@model IEnumerable<FBook.Models.Cart>
@{
    ViewData["Title"] = "Index";
}

<h1>Cart</h1>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.BookIsbn)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.UId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BookIsbn)
				</td>
			</tr>
		}
		<a asp-action="CheckOut" asp-controller="Cart" class="btn btn-primary rounded">Check Out</a>
	</tbody>
</table>
